<!doctype html>
<html lang="en">
<head>
    
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stil.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLASKER</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="center-container">
    
    <form method="POST" enctype="multipart/form-data" action="/">
        <input type="file" name="file" class="link-button">
        <input type="submit" value="Dosya Yükle" class="submit-button">
    </form>
    <br>
    <a href="/dosyalar">Yüklenmiş Belge Listesi</a>
</div>
</body>

</html>
