<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dosya Listesi</title>
</head>
<body>
    <h1>Dosya Listesi</h1>
    <ul>
        {% for file in files %}
        <li>
            {{ file.filename }} - 
            <a href="/download/{{ file._id }}">İndir</a> | 
            <a href="/update/{{ file._id }}">Güncelleme</a>
        </li>
        {% endfor %}
    </ul>
    <br>
    <a href="/">Başka Bir Dosya Yükle</a>
</body>
</html>