<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dosya Güncelleme</title>
</head>
<body>
    <h1>Dosyayı Güncelle: {{ file.filename }}</h1>
    <form action="/update/{{ file._id }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Update">
    </form>
    <br>
    <a href="/files">Dosya Listesine Geri Dön</a>
</body>
</html>
